/*************Tag Selectors***************/
body {
    background-color: #F5F5F5;
}
h1 {
font-weight: 800;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
}

h2 {
text-align: center;
margin-bottom: 30px;
color: #35858B;
font-family: 'Ubuntu', sans-serif;
}

.sidebar-img {
    width: 120px;
    height: 120px;
}

@media (min-width: 1200px){
    .visualization-img{
        width:250px;
        height: 250px;
        margin: 30px;
        float: left;
    }
}
@media (max-width: 1200px) {

    .sidebar-img {
        width: 100px;
        height: 100px;
    }   

}

@media (max-width: 991px) {
    .visualizations-link {
        margin-top: 40px;
    }
    body {
        background-color: white;
        padding-bottom: 150px;
    }
    .container {
        padding: 0%;
    }

    #visualization-summary {
        margin-right: 0px;
        padding: 0%;
    }

    h1 {
        color: #35858B;
    }

}



.visualization-img{
    width:250px;
    height: 250px;
    margin: 30px;
}

#visualization-summary {
    background-color: white;
    margin-right: 20px;
    padding: 20px 10px 10px 100px;
    border-radius: 10px;
}

.visualizations-link {
    background-color: white;
    border-radius: 10px;
}

.container {
    padding-left: 100px;
    padding-right: 120px;
    padding-top: 80px;
}

.navbar-brand {
    padding-left: 20px;
}

.visualization-paragraph {
    margin-top: 25px;
    line-height: 200%;
}

.sidebar {
    padding: 20px 10px 0px 10px;
}

.nav-item {
    margin-left: 20px;
}

nav {
    background-color: white;
}

.visualization-img-active {
    border-color: turquoise;
    border-style: solid;
}